<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/layout/footer.css"/>
  <title>Document</title>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
</style>
</head>
<body>
<footer>
  <div class="footer-content">

    <nav>
      <div class="All">
        <div class="memberM">
          <div class="member">
            <p class="name">개발/기획 오택주</p>
            <ul>

              <li>
                <span> 기획</span>
              </li>

              <li>
                <span> 백엔드 개발</span>
              </li>
              <li>
                <span> 프론트엔드 개발</span>
              </li>
              <li>
                <span> 디자인</span>
              </li>
            </ul>
          </div>



          <div class="SNSicon">
            <div class="SnsIcon">소셜 미디어</div>
            <a href='https://ko-kr.facebook.com/' target='_blank'>
              <img src='https://ifh.cc/g/TfkVVF.png' border='0'>
            </a>
            <a href='https://www.instagram.com/' target='_blank'>
              <img src='https://ifh.cc/g/rdCB7D.png' border='0'>
            </a>
            <a href='https://www.naver.com/' target='_blank'>
              <img src='https://ifh.cc/g/cPKtHJ.png' border='0'>
            </a>
            <a href='https://www.kakaocorp.com/page/' target='_blank'>
              <img src='https://ifh.cc/g/0nVhT4.png' border='0'>
            </a>
          </div>
        </div>

      </div>
  </div>
  </nav>
  <br>
  <hr>
  <div class="footerTT">홍길동
    <div class="footerTTComet">전국 메이플스토리 도적 협회
    </div>
  </div>
  </div>
</footer>
</body>
</html>
