.member > .name {
    display: block;
    font-size: 10px;
    font-weight:bold;
    text-align:left;
    color: #fff;
  font-family: 'Grandiflora One', serif;
}


footer {
  background-color:#000;
  padding: 60px;
  text-align: top;
  margin-top: 200px;
}

.footer-content {
  max-width: 1440px; /* 넓이를 크게 조정 */
  margin: 0 auto;
}

.footer-content > nav {
  display: flex;
  justify-content: space-around;
  flex-direction:column;
}
.memberM{
    display:flex;
    gap:140px;
}
.memberW{
    display:flex;
    gap:60px;
}
.footer-content li {
  list-style:none;
  font-family: 'Grandiflora One', serif;
}
.footer-content span {
  display: block;
  font-size: 10px;
  text-align: start;
  color: #fff;
  margin-bottom: 5px; /* 간격 조정 */
  font-family: 'Grandiflora One', serif;
}
.footer-content .member > p {
    color: #fff;
    font-size:12px;
}
#Oh{
  margin-left:-84px;
}

.footerTT{
    font-family: 'Grandiflora One', serif;
    color:#fff;
    font-weight:bold;
    font-size:3rem;
    padding-top:20px;
}

.footerTTComet{
    font-family: 'Grandiflora One', serif;
    color:#fff;
    font-size:1rem;
    display:flex;
    flex-direction:row;
}

.SNSicon > a > img{
    width:30px;
    padding:10px;
}
.SnsIcon{
 color:#fff;
 font-size:12px;
 font-weight:bold;
 padding:10px;
  font-family: 'Grandiflora One', serif;
}

.All{
 margin-left: 60px;
}

.footerTT{
  margin-left:62px;
}

hr{
  width:91.5%;
}