<!DOCTYPE html>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>홍길동</title>
  <link rel="stylesheet" href="/Free_detail.css"/>
  <link rel="stylesheet" href="/layout/navBar.css"/>
  <link rel="stylesheet" href="/layout/footer.css"/>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
</style>
</head>

<body>
<div th:replace="layout/navBar.html"></div>
<!--아래부터 게시글 상세-->
<div class="footer_con" >
  <img  class ="img_b"src="https://i.postimg.cc/RCRQBxn4/3.jpg"/>
  <div class="title_control">
    <h1 class="my-3 border-bottom pb-2"><p>자유게시판 </p></h1>
  </div>
  <div class="Review_form">
    <div class="Article_content_Box">

      <div class="article_header">
        <div class="articlenum">
          <span>글번호</span>
          <span th:text="${article.id}" class="articleNum" id="articleId">123</span>
        </div>
        <div class="modifyRemove">
          <a th:href="@{|/freenotice/modify/${article.id}|}"
             sec:authorize="isAuthenticated()"
             th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
          >
            <button class="modify">수정</button>
          </a>
          <a href="javascript:void(0);" th:data-uri="@{|/freenotice/delete/${article.id}|}"
             sec:authorize="isAuthenticated()" class="delete btn btn-sm btn-outline-secondary"
             th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
          >
            <button class="remove">삭제</button>
          </a>
        </div>

        <div class="article_title">
          <span class="category_ment">[</span>
          <span class="category_ment" th:text="${article.category}">카테고리</span>
          <span class="category_ment">]</span>
          <p th:text="${article.subject}" class="article_title">제목</p>
        </div>

        <hr class="subhr">
        <div class="userInfoform">
          <div class="userInfo">

            <div class="profile_area">
              <div class="profile_info">
                <span class="create">닉네임:</span>
                            <span th:if="${article.author != null}" th:text="${article.author.nickname}"
                                  class="nick">닉네임</span>
              </div>
            </div>
            <div class="article_info">
              <div class="createtime">
                <span class="create">작성일:</span>
                <span th:text="${article.createDate}" class="create_time"></span>
              </div>
              <div class="viewcount">
                <span class="count">조회수: </span>
                <span th:text="${article.viewCount}" class="count"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="gradeOrhashtag">

      </div>
      <div class="article_container">
        <div class="SaleInfo">
          <div class="product_section">
            <div class="product_img" th:each="filepath : ${article.filepaths}">
              <img th:src="${filepath}" width="500" height="500" class="review_board_main_img"/>
            </div>
            <div class=""></div>
          </div>
        </div>
        <div class="content_form">
          <div class="content_view">
            <p th:text="${article.content}" class="content_write"></p>
            <div class="icon_box">
              <div class="iconLine">
                <div class="like">
                  <a href="#" role="button" class="like_heart">

                  <i class="fa-regular fa-message" style="color: #73703f;"></i>

                  <a href="#" role="button" aria-pressed="true" class="button_comment"><span
                          class="icon_area"></span>
                    댓글&nbsp;<strong th:text="|${#lists.size(article.answerList)}" class="num"></strong>
                  </a>
                </div>

                <div class="replyBox">
                  <div th:each="answer : ${article.answerList}" class="answerbox">
                    <!-- 댓글 닉네임   -->
                    <div class="answerNick">
                      <span>Lv.</span>
                      <span
                              th:if="${answer.author != null}" th:text="${answer.author.level}">&nbsp;</span>
                      <span th:if="${answer.author != null}" th:text="${answer.author.nickname}"
                            class="nick">닉네임</span>
                    </div>
                    <!-- 댓글 닉네임 끝 -->
                    <!-- 댓글내용 -->
                    <div class="answer">
                      <ul>
                        <li th:text="${answer.content}">댓글내용</li>
                      </ul>
                    </div>
                    <!--  댓글내용 끝  -->
                    <div class="formmodifybox">
                      <form th:action="@{|/freenoticeanswer/modify/${answer.id}|}" th:object="${answerForm}"
                            method="post" class="formboxform">

                                        <textarea name="content" id="content" rows="10"
                                                  placeholder="수정할 내용을 작성해주세요"></textarea>
                        <button class="reply_summit" type="submit" value="답변수정">답변수정</button>
                        <button class="reply_summit_exit" type="button" value="취소"
                                onclick="hideFormModifyBox(event, this)">수정취소
                        </button>

                      </form>

                    </div>
                    <!-- 댓글 하단바   -->
                    <div class="answerCreateBox">
                      <div class="answerCreateDate">
                        <span>작성일:</span>
                        <span th:text="${answer.createDate}"></span>
                        <!--  수정/삭제버튼 -->
                      </div>
                      <div class="answerModifyRemove">
                        <a href="#" sec:authorize="isAuthenticated()"
                           class="modify btn btn-sm btn-outline-secondary"
                           th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                           th:text="수정" onclick="showFormModifyBox(event, this)">
                          <button type="button" class="answermodify_btn">수정</button>
                        </a>
                        <a href="javascript:void(0);" th:data-uri="@{|/freenoticeanswer/delete/${answer.id}|}"
                           class="delete btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                           th:text="삭제">
                          <button type="button" class="answerremove_btn">삭제</button>
                        </a>
                        <!--  수정/삭제버튼 끝 -->
                      </div>
                    </div>

                    <!-- 댓글 하단바 끝   -->
                  </div>

                  <div class="formbox">
                    <form th:action="@{|/freenoticeanswer/create/${article.id}|}" th:object="${freeNoticeAnswerForm}"
                          method="post" class="formboxform">

                                        <textarea name="content" id="content" rows="10"
                                                  placeholder="내용을 입력해 주세요"></textarea>
                      <input class="reply_summit" type="submit" value="답변등록">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div>
<footer th:replace="layout/footer.html"></footer>
</div>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});






</script>

<script>
  function showFormModifyBox(event, button) {
    event.preventDefault(); // 페이지 새로고침 방지

    var formModifyBox = $(button).closest('.answerbox').find('.formmodifybox');
    $(formModifyBox).css('display', 'block');

    var answerCreateBox = $(button).closest('.answerbox').find('.answerCreateBox');
    $(answerCreateBox).css('display', 'none');
  }
  function hideFormModifyBox(event, button) {
  event.preventDefault(); // 이벤트의 기본 동작 방지

  var formModifyBox = $(button).closest('.answerbox').find('.formmodifybox');
  $(formModifyBox).css('display', 'none');

  var answerCreateBox = $(button).closest('.answerbox').find('.answerCreateBox');
  $(answerCreateBox).css('display', 'block');
}






</script>
</body>