<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/signup.css"/>
</head>
<body>
<div class="wrapper">
  <div id="box">
    <img src="https://image.freepik.com/free-icon/refresh_318-33117.jpg" alt="lock" />
    <h3>sign up</h3>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
      <input type="text" th:field="*{username}" class="form-control" placeholder="USERNAME" />
      <input type="password" th:field="*{password1}" class="form-control" placeholder="PASSWORD" />
      <input type="password" th:field="*{password2}" class="form-control" placeholder="RE-PASSWORD">
      <input type="email" th:field="*{email}" class="form-control" placeholder="E-mail">
      <input type="text" th:field="*{nickname}" name="nickname" id="nickname" placeholder="NICKNAME">
      <input onclick="this.style.backgroundColor = '#69c061';" type="submit" value="go on... click me!"/>
    </form>

  </div>
</div>
</body>
</html>